<html>
  <head>
    <link rel="shortcut icon" href="../static/icon.ico">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <title> dllb </title>
    <style>
      .home-menu {
      padding: 0.5em;
      text-align: center;
      box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
      }
      .turq  {
      color:turquoise;
      }
      .home-menu.pure-menu-open {
      background: turquoise;
      }
      .pure-menu.pure-menu-open.pure-menu-fixed {
      border-bottom: none;
      z-index: 4;
      }
      
      .home-menu .pure-menu-heading {
      color: white;
      font-weight: 400;
      font-size: 120%;
      }
    </style>
  </head>
  <body bgcolor="#34495E">
    <div class="header">
      <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">STEM</a>
	
        <ul>
          <li class="pure-menu-selected"><a href="/">Home</a></li>
	  {% if loggedin %}
	  <li><a href="/profile">{{username}}</a></li>
	  <li><a href="/logout">Logout</a></li>
	  
	  {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
	  {% endif %}
	</ul>
      </div>
    </div>
    <font color="white" face="arial" size="3">
      <br><br><br><br><br><br>
      {% block text%}
      {% endblock %}

    </font>
  </body>

  

 </html>
