{% extends "base.html" %}
{% block text %}

 
{% if loggedin == True %}
<br><br>

{% if updated == True %}
<h3> You have successfully updated your info </h3>
{% endif %}
<form class="pure-form" method="post">	    
First Name: <input required type="text" name="first" value={{first}}></input><br>
Last Name: <input required type="text" name="last" value={{last}}></input><br><br>
E-mail Address: <input required type="email" name="email" value={{email}}></input><br>
Phone Number: <input required type="number" pattern=".{10,10}" name="phone" value={{phone}}></input><br>
Facebook URL: <input type="text" name="facebook" value={{facebook}}></input><br>
<br>

<input class="button-xsmall pure-button" name="submit" type="submit"  value="Update">
</form>
{% endif %}


{% if loggedin == False %}
<h3> Login to your account to access your profile! </h3>
{% endif %}

{% endblock %}
