{% extends "base.html" %}

{% block text %}
 
{% if loggedin == True %}
<br><br>
{% if name == None %}
{% for x in groupNames %}
<a class="pure-button" href="/group/{{x}}">{{x}}</a> <br><br>
{% endfor %}
{% else %}
{{name}}
<br>
{% for fmember in fmembers %}
<img src="//graph.facebook.com/{{fmember}}/picture"> &nbsp<font size ="1"><a class="pure-button" href="/profile/{{members[loop.index-1]}}"><b>{{members[loop.index-1]}}</b></font></a>
 {% if members[loop.index-1] == admin %} &nbsp<font size ="1"> <b>ADMIN</font></b> {% endif %}
 {% if username == admin %} {% if members[loop.index-1] != admin %}<form class="pure-form" method="post"><input class="button-xsmall pure-button" name="{{members[loop.index-1]}}" type="submit" value="Remove"></form>{% endif %}{% endif %}<br>
{% endfor %}
{% if username == admin %}
      <br><br><form class="pure-form" method="post">
	<input class="pure-input-1-5 suggest-member" name="member" type="text" placeholder="Add" autocomplete="off"></li>
<li><input class="button-xsmall pure-button" name="submit" type="submit"  value="Add member">
  </form>
  <script>
  $(function() {
    var availableTags = {{possible | safe}};
    $( "input.suggest-member" ).autocomplete({
      source: availableTags
    });
  });
  </script>
{% endif %}
{% endif %}

{% endif %}

{% endblock %}
