{% extends "base.html" %}

{% block text %}
 
{% if loggedin == True %}
<br><br>

{% if userexists == True %}
<img src="//graph.facebook.com/{{fid}}/picture?type=large"><br>
<b><u>First Name:</u></b> &nbsp {{first}} <br>
<b><u>Last Name:</u></b> &nbsp{{last}} <br>
<b><u>Email Address:</u></b> &nbsp{{email}} <br>
<b><u>Phone Number:</u></b> &nbsp{{phone}} <br>
<b><u>Facebook Username:</u></b> 
{% if facebook!="" %} &nbsp{{facebook}} {% endif %}
{% if facebook=="" %} &nbsp No Username Saved {% endif %} <br>      
<br>
{% if isityou == True %}
<font size = 2>
<a class="pure-button" href="/edit" type="submit"> Edit Profile </a>
<br><br> </font>
{% endif %}

{% endif %}

{% if userexists == False %}
<h3> I'm sorry, but the username '{{username}}' does not exist. </h3>
{% endif %}

{% endif %}


{% if loggedin == False %}
<h3> Login to your account to access profiles! </h3>
{% endif %}

{% endblock %}
